main {
  height: calc(100vh - 64px - 96px);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.full-size {
  grid-column: 1 / span 2;
  height: calc(100vh - 64px - 78px - 96px);

  textarea {
    height: calc(100vh - 64px - 78px - 96px - 64px);
  }
}

.error {
  color: #f44336;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  height: 96px;
}

.answer-field {
  width: 480px;
}

.code-input {
  font-family: "Roboto Mono", Courier, monospace !important;
}
