<header>
  <mat-toolbar>
    <span>Advent of Code 2022 Solver</span>
  </mat-toolbar>
</header>
<main>
  <form [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>Select puzzle</mat-label>
      <mat-select [formControl]="form.controls.puzzle">
        <mat-option
          *ngFor="let puzzle of config.puzzles"
          [value]="puzzle.solver"
          >{{ puzzle.label }}</mat-option
        >
      </mat-select>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select part</mat-label>
      <mat-select [formControl]="form.controls.part">
        <mat-option *ngFor="let part of config.parts" [value]="part.part">{{
          part.label
        }}</mat-option>
      </mat-select>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="full-size">
      <mat-label>Enter puzzle input</mat-label>
      <textarea matInput [formControl]="form.controls.input"></textarea>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
  </form>
</main>
<footer>
  <mat-toolbar
    *ngIf="solver.solverStatus$ | async as solverStatus"
    color="primary"
    class="toolbar"
  >
    <button
      mat-icon-button
      (click)="solve()"
      [disabled]="!solveReady || (solverStatus.solving && !solverStatus.answer)"
      [matTooltip]="tooltip"
      [attr.aria-label]="tooltip"
    >
      <mat-icon>{{ icon }}</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-spinner
      *ngIf="solverStatus.solving && !solverStatus.answer"
      [diameter]="64"
      color="accent"
    ></mat-spinner>
    <mat-form-field color="primary" class="answer-field">
      <mat-label>Answer</mat-label>
      <input matInput [value]="solverStatus.answer" [readonly]="true" />
      <mat-hint *ngIf="solverStatus.duration"
        >Completed in
        {{ solverStatus.duration | number : "1.0-0" }} ms</mat-hint
      >
    </mat-form-field>
  </mat-toolbar>
</footer>
