main {
  height: calc(100vh - 64px - 64px);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.full-size {
  grid-column: 1 / span 2;
  height: calc(100vh - 64px - 78px - 64px);

  textarea {
    height: calc(100vh - 64px - 78px - 64px - 64px);
  }
}

.error {
  color: #f44336;
}
